body{
    font-family:'Montserrat', sans-serif;
    background-color: #E2EEF3;
 }
 

 .navbar {
  overflow: hidden;
  background-color: #DFEBF0;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 99%;
}

.navbar a {
  float: right;
  display: block;
  color: #221C35;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  border-right: 1px solid #f2f2f241;
}

.navbar a:hover {
  background-color: #C4D7DE;
  color:  #221C35;
}



.rt{
    margin-left: 20px;
    margin-right: 20px;
display: flex;
    justify-content: center;
    margin: 5% auto;
    width: 84%;
    padding: 3%;
    border: 3px solid #221C35;
}

.page2{
    background-color: #E2EEF3;
    padding: 3% 11%;
}

.page2_flex{
    display: flex;
}

.photo2{
    position: relative;
margin-top: 20px;
padding: 3%;
margin-right: 20px;
margin-bottom: 20px;
margin-left: 1%;
}



.rt img:hover{
 position: relative;
    opacity: 1;
    transform: scale(1.1); 
    transition-duration: 0.5s;
}

.text_p2{
    font-size: 24px;
  position: relative;
color: #221C35;
margin-top: 4%;
   display: flex;
   justify-content: center;
    margin: 5% auto;
    width: 84%;
    margin-bottom: 5%;
    padding: 3%;
    flex-direction: column;
}



.text_p22{
    font-size: 26px;
  position: relative;
color: #221C35;
margin-top: 4%;
   display: flex;
   justify-content: center;
    margin: 5% auto;
    width: 84%;
    margin-bottom: 5%;
    padding: 3%;
    flex-direction: column;
}






